@import url(https://fonts.googleapis.com/css?family=Cantarell);

body {
  font-family: 'Cantarell', Lucida Grande, sans-serif;
  font-size: 100%;
	line-height: 1.5;
	background:
	linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
	linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
	linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
	linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
	linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
	linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;
}
h3 {
  background: #346;
  text-align: center;
  color: #fff;
  padding: 5px 0;
  border-radius: 0 0 2px 2px;
}
ul {
  list-style-type: square;
  margin: 0 0 20px 0;
  line-height: 1.5;
}
input[type=text] {
  border: 1px solid #ccc;
  padding: 7px 5px;
  width: 150px;
  font-size: 14px;
}
input[type=submit] {
  border: 1px solid #ccc;
  margin-left: 15px;
  padding: 5px 15px;
  font-size: 1em;
}
#todo {
  background-color: whitesmoke;
  border-radius: 3px;
  padding: 0 15px 15px;
  width: 250px;
  margin: 5em auto;
  border: 1px solid #ddd;
}